RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-REQUEST_FILENAME
RewriteRule ^ index.php [QSA,L]

RewriteEngine On
RewriteRule ^userslist$ userslist.html.twig [L]
RewriteRule ^vehicleslist$ vehicleslist.html.twig [L]
RewriteRule ^reservationslist$ reservationslist.html.twig [L]


