RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-REQUEST_FILENAME
RewriteRule ^ index.php [QSA,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html.twig [NC,L]

AddHandler php-cgi .twig
Action php-cgi /cgi-bin/php.cgi