

/* Remove margin and padding from body element */
body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;
}

/* Style for admin bar */
.adminbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

ul {
  list-style: none;
}

/* Center content */
.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* Footer style */
.footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

/* Set link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}