body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;
}

/* Errors messages */

.errorMessage {
  font-weight: bold;
  background-color: yellow;
  color: red;
}

/* Center the content in the middle of the page */
.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
/* Set max width for content */
.container {
  max-width: 768px;
}

/* Set padding for body */
body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Set footer styles */
.footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

/* Set link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}