:root {
  --primary-color: #07F26D;
  --secondary-color: #BF5B04;
  --background-color: #dfd6a7;
  --font-color: #444444;
  --button-color: #0ABF58;
  --dark-footer: #f7b05b;
  --font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 155px);
  margin: 15px auto 50px auto;
  max-width: 960px;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--dark-green);
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-brand video {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  object-fit: cover;
  z-index: -1;
}


.logo-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Add your logo animation styles here */
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: var(--dark-footer);
  color: #fff;
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}
