/* colors and fonts */
:root {
  --primary-color: #07F26D;
  --secondary-color: #BF5B04;
  --background-color: #F2F2F2;
  --font-color: #444444;
  --button-color: #0ABF58;
  --dark-green: #025940;
  --font-family: Arial, sans-serif;
}

/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

/*Content*/
.navbar + .centered-content {
  margin-top: 70px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 140px); /* Subtracting the navbar and footer heights */
  margin-bottom: 50px; /* Add a margin to the bottom */
  margin-left: auto; /* Center the content horizontally */
  margin-right: auto;
  max-width: 960px; /* Set a max width for the content */
}

/* navbar styles */
.navbar {
  background-color: var(--primary-color);
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--dark-green);
}

.navbar-toggler {
  border-color: #fff;
}

/* footer styles */
.footer {
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: var(--dark-green);
  color: #fff;

}

/* link styles */
a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}
