<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Combined CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/admin.css">
        {% block addHead %}{% endblock %}
    </head>
     <body>

        <div class="admin-container">
            <div class="admin-sidebar">
                {% include 'admin/adminpanel.html.twig' %}
            </div>
            
            <div class="admin-content">
                 <div class="container">
                    <div class="centeredContent">
                    {% block content %}{% endblock %}
                    </div>
                 </div>
            </div>
        </div>
        
        <!-- CDNs for jQuery, Popper.js and Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        
        <div class="footer">
            {% block footer %}
                &copy; {{ 2023 }}
            {% endblock %}
        </div>
    </body>
</html>