{% extends "admin/adminmaster.html.twig" %}


{# {% block content %}

<html>
<head>
    <title>Message</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>{{ button }}</p>
</body>
</html>

{% endblock %} #}
