<p>Select an option you wish to manage</p>
  <nav>
     <ul>
      <li><a href="userslist">Users</a></li>
       <li><a href="vehicleslist">Vehicles</a></li>
       <li><a href="reservationslist">Reservations</a></li>
    </ul>
  </nav>
