{% for admin %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="users.html.twig">Users</a></li>
        <li><a href="vehicles.html.twig">Vehicles</a></li>
        <li><a href="reservations.html.twig">Reservations</a></li>
      </ul>
    </nav>
    <h1>Welcome to Admin Panel</h1>
    <p>Select an option you wish to manage</p>
  </body>
</html>

{% endfor admin %}