{% extends "master.html.twig" %}

{% block title %}find my reservation
{% endblock %}

{% block content %}
{% if successMessage is defined %}
    <div class="success-message">{{ successMessage }}</div>
{% endif %}

{% if errorMessage is defined %}
    <div class="error-message">{{ errorMessage }}</div>
{% endif %}

	<div class="container">
		<div class="row justify-content-left mt-5 mb-5">
			<div class="col-md-10 col-lg-12">

				<h1>Find my reservation</h1>
				<form method="post" action="/findmyreservation">
					<div class="form-group"></br>
						<label for="reservationId">Reservation ID</label></br>
						<input type="number" class="form-control" id="reservationId" name="reservationId" value="{{ reservationId }}" required></br>
					</div>
					<button type="submit" class="btn btn-primary btn-sm">Find Reservation</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
