{% extends "master.html.twig" %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-8 col-lg-6">
            <div class="alert alert-success">
                Password reset instructions have been sent to the email address provided.
            </div>
        </div>
    </div>
</div>
{% endblock %}
