{% extends "master.html.twig" %}

{% block title %}Logout Page{% endblock %}

{% block content %}
  <h1>Login Success</h1>
  <p>You have successfully logged in. <a href="index.php">Click to continue</a></p>
{% endblock %}


