{% extends "master.html.twig" %}

{% block title %}Success Page{% endblock %}

{% block content %}
  {% if error %}
    <div class="alert alert-danger">Invalid email or password</div>
    <a href="/login" class="btn btn-primary">Try Again</a>
  {% else %}
    <h1>Login Success</h1>
    <p>You have successfully logged in. <a href="/">Click to continue</a></p>
  {% endif %}
{% endblock %}
