{% extends "master.html.twig" %}

{% block title %}Login Page{% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-8 col-lg-6">
        <h1>Login</h1>
        {% if message is defined and message is not empty %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
        <form method="post" action="/login">
          <div class="form-group">
            <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <button type="submit" class="btn btn-primary">Log in</button>
        </form>

        <hr>

        <p>Forgot your password? <a href="/forgotpassword">Reset it</a>.</p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
