{% extends "master.html.twig" %}

{% block content %}
	<h1>Logout</h1>
	<p>You have successfully logged out.</p>
	<a href="{{ '/' }}" class="btn btn-primary btn-sm">Back to Main Page</a>
{% endblock %}
