<!DOCTYPE html>
<html>
    <head>
            <title>{% block title %} Admin Panel {% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="/style.css">
        {% block addHead %}
        {% endblock %}
     </head>
    <body>
        <div class="sidebar">
            {% include 'adminpanel.html.twig' %}
        </div>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="footer">
                {% block footer %}
                    &copy; Copyright 2023 by <a href="http://carrentalproject.org/">you</a>.
                {% endblock %}
            </div>
        </div>
    </body>
</html>