{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[name=username]').keyup(function() {
                var username = $(this).val(); // same as: var username = $('input[name=username]').val();
                console.log('username: ' + username);
                // handle special chars in username
                username = encodeURIComponent(username);
                $('#usernameTaken').load("isusernametaken.php?username=" + username)
            });
        });
    </script>
</head>
<body>
    <div class="centeredContent">
        <form method="post">
            <input name="username" type="text" value="$username">
            <span id="usernameTaken" class="errorMessage"></span><br>
            <input name="email" type="email" value="$email"><br>
            <input name="pass1" type="password"><br>
            <input name="pass2" type="password"><br>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
