{% extends "master.html.twig" %}

{% block title %}Password Reset Error{% endblock %}

{% block content %}
  {% if message %}
  <div class="alert alert-success">{{ message }}</div>
{% endif %}

  <a href="/forgotpassword" class="btn btn-primary">Reset Password</a>
{% endblock %}
