{% extends 'master.html.twig' %}

{% block content %}

<head>
    
    <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
        .success-container {
            width:50%;
            position:absolute;
            top:30%;
            left:50%;
            transform:translate(-50%,-50%);
            color:red;
            font-weight:bold;
            font-family: "Poppins", sans-serif;
        }
    </style>
</head>
<body>
      <div class="success-container">
            <h3>Your Transaction has been Successfully Completed</h3>
      </div>  
</body>
</html>
{% endblock %}



